.detail-specialty-container {
  .HomeHeader-fake {
    height: 78px;
  }

  .detail-specialty-grid {
    padding: 0 200px;
    background-color: #eeeeee;
    // Styles.scss
    // Styles.scss
    .description-specialty-img {
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
      }

      .description-specialty {
        position: relative;

        z-index: 2;
      }
    }
    .search-sp-doctor select {
      padding: 7px;
      width: 181px;
      border: 2px solid #337ab7;
      font-size: 19px;
      -webkit-appearance: button;
      appearance: button;
      outline: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      margin: 14px 22px;
      background-color: #fff;
      color: #337ab7;
    }

    .each-doctor {
      display: flex;
      width: 100%;
      padding: 20px;

      border-radius: 10px;
      margin: 12px 0;
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

      .content-left {
        width: 50%;

        .profile-doctor-container {
          .intro-doctor {
            .intro-doctor-grid {
              .content-left {
                width: 130px;
              }

              .content-right {
                .title-doctor {
                }

                .description-doctor {
                }

                .price {
                  display: none;
                }
              }
            }
          }
        }
      }

      .content-right1 {
        position: relative;
        width: 50%;

        .doctor-schedule-container {
          .all-available-time {
            .time-content {
              .select-book-text {
                position: absolute;
                bottom: 44%;
                left: 64%;
                font-size: 15px;
                color: #9b9994;
              }
            }
          }
        }

        .doctor-extra-info-container {
          .content-up {
            padding-top: 22px;
          }

          .content-down {
            padding-bottom: 33px;
          }
        }
      }
    }
  }
}
